# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
bin/
obj/
[Bb]uild/
[Ll]og/
*.log

# NuGet
packages/
*.nupkg
project.lock.json
*.nuget.props
*.nuget.targets

# MSBuild/VS cache
*.cache
*.db
ipch/

# Office/VSTO build outputs
*.vsto
*.manifest

# Others
Thumbs.db
Desktop.ini

# Rider/VS Code (если используете)
.idea/
.vscode/
/publish
/выгрузка.xlsx
/выгрузка_test.xlsx
/отгулы.XLSX
